<div class="cust-fields">
	<span>{{ fields.title.content }}</span>
	<span>{{ fields.field_cover_img.content }}</span>
	<span>{{ fields.body.content }}</span>

	{# Acceso a campo de enlace si está disponible en la estructura de la entidad #}
	{% if row._entity.field_link is defined and row._entity.field_link[0] is not null %}
		<a href="{{ row._entity.field_link[0].uri }}">
			{{ row._entity.field_link[0].title }}
		</a>
	{% endif %}
</div>
