<div class="cust-fields">
	<span>{{ fields.title }},</span>
	<span>{{ fields.field_cover_img }}</span>
	<span>{{ fields.title.content }},</span>
	<span>{{ fields.body.content }}</span>
	<span>{{ dump(fields) }}</span>
</div>
