{% block paragraph %}
<div{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="contratos-grid">
        {% for key, item in content.field_contratos %}
        {% if key matches '/^\\d+$/' %}
        {% set title = item['#paragraph'].field_title.value %}
        {% set description = item['#paragraph'].field_description.value %}
        <div class="contrato">
            <div class="name">
                {{item['#paragraph'].field_nombre_contratista_o_inter}}
            </div>
            <div class="data">
                <div class="field_numero_de_contrato">
                    {{item['#paragraph'].field_numero_de_contrato}}
                </div>
                <div class="field_estado_del_contrato">
                    {{item['#paragraph'].field_estado_del_contrato}}
                </div>
                <div class="field_documento">
                    {{item['#paragraph'].field_documento}}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}
    </div>
    {% endblock paragraph %}