{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

<div{{ attributes.addClass(classes) }}>
    <div class="name">
        {{ content.field_contratos.field_nombre_contratista_o_inter.value }}
    </div>
    <div class="data">

        <div class="number">
            <div class="icon">
                <img src="/sites/default/files/2023-11/numero.png" alt="icon">
            </div>
            <div class="txt">
                <strong>Número de contrato</strong>
                {{ content.field_contratos.field_numero_de_contrato.value }}
            </div>
        </div>
        <div class="estado">
            <div class="icon">
                <img src="/sites/default/files/2023-11/estadoPro.png" alt="icon">
            </div>
            <div class="txt">
                <strong>Estado del contrato</strong>
                {{ content.field_contratos.field_estado_del_contrato.value }}
            </div>
        </div>
        <div class="documento">
            <div class="icon">
                <img src="/sites/default/files/2023-11/link.png" alt="icon">
            </div>
            <div class="txt">
                <strong>Documento contractua</strong>
                <a href="{{ content.field_contratos.field_documento.value }}">Link Secop</a>
            </div>
        </div>

    </div>
    </div>