{# /** * @file * Template for a Node. */ #} {% set classes = [ 'node',
node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not
node.isPublished() ? 'node--unpublished', node.bundle|clean_class,
node.bundle|clean_class ~ '--' ~ view_mode|clean_class, 'project' ] %} {#
{{ kint(content | keys) }} #}
<article {{ attributes.addClass(classes) }}>
  {% block content %}
  <div class="container container-project-new mt-5">
    <ul class="nav nav-pills nav-fill oblicua-nav-pill" id="myTab" role="tablist">
      <li class="nav-item">
        <a aria-controls="description" aria-selected="true" class="nav-link active" data-toggle="tab"
          href="#description" id="description-tab" role="tab">Descripción</a>
      </li>
      <li class="nav-item">
        <a aria-controls="benefits" aria-selected="false" class="nav-link" data-toggle="tab" href="#benefits"
          id="benefits-tab" role="tab">Beneficios</a>
      </li>
      <li class="nav-item">
        <a aria-controls="scope" aria-selected="false" class="nav-link" data-toggle="tab" href="#scope" id="scope-tab"
          role="tab">Alcance</a>
      </li>
      <li class="nav-item">
        <a aria-controls="benefits" aria-selected="false" class="nav-link" data-toggle="tab" href="#status"
          id="status-tab" role="tab">Estado e Inversión</a>
      </li>
      <li class="nav-item">
        <a aria-controls="multimedia" aria-selected="false" class="nav-link" data-toggle="tab" href="#multimedia"
          id="multimedia-tab" role="tab">Multimedia</a>
      </li>
      <li class="nav-item"><a href="" download><img src="/sites/default/files/2024-01/download.png"
            alt="download" /></a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div aria-labelledby="description-tab" class="tab-pane fade show active project-content" id="description"
        role="tabpanel">
        <div class="imageproject">
          {{ title }}
          {{content.title}}
          {{content.field_imagen_del_proyecto}}

        </div>
        <div class="grafica">
          <div class="grafica-item estructuracion">
            <h3>Estructuración</h3>
            <ul>
              <li>Prefactibilidad</li>
              <li>Factibilidad</li>
            </ul>
          </div>
          <div class="grafica-item ejecucion">
            <h3>Ejecución</h3>
            <ul>
              <li>Estudios y diseños</li>
              <li>Ejecución de obra</li>
            </ul>
          </div>
          <div class="grafica-item cierre">
            <h3>Cierre</h3>
            <ul>
              <li>Cierre y evaluación</li>
            </ul>
          </div>
        </div>
        {{content.field_datos_generales2}}
        <div class="oblicuaflex-container">
          <div class="left">
            {{ content.body }}
          </div>
          <div class="right">
            {{content.field_mapa_ubicacion}}
            <a href="" class="btn btn-visor">Ver Visor de Proyectos</a>
          </div>
        </div>
        <div class="status-desc">
          <h2>¿En qué va el proyecto?</h2>
          <div class="txt">
            {{content.field_status_of_project}}
            <a href="#status">Ver más</a>
          </div>
          <a href="" class="btn btn-marco">Ver Marco Normativo</a>
        </div>
        <h2>Proyectos relacionados</h2>
        {{content.field_proyectos_relacionados}}
      </div>
      <div aria-labelledby="benefits-tab" class="tab-pane fade project-content" id="benefits" role="tabpanel">
        <div class="benefits-content">
          {{content.field_benefits_of_project}}
          {{content.field_imagen_bebeficios}}
        </div>
      </div>
      <div aria-labelledby="scope-tab" class="tab-pane fade project-content row" id="scope" role="tabpanel">
        <div class="scope-container">
          {{content.field_scope_of_project}}
          <img src="/sites/default/files/2023-11/alcance.png" alt="Scope">
        </div>
        {{content.field_contratos}}
      </div>
      <div aria-labelledby="status-tab" class="tab-pane fade project-content" id="status" role="tabpanel">
        <h2>Avance del proyecto</h2>
        <h4>Fecha de inicio:</h4>
        {{content.field_fecha_de_inicio}}
        <h4>Fecha fin:</h4>
        {{content.field_fecha_de_finalizacion}}

        <div class="charts">
          <div class="chart-container">
            <canvas id="myChart"></canvas>
          </div>
          <div class="chart2-content">
            <h5>HISTÓRICO</h5>
            <h3>Fase - Obra</h3>
            <div class="chart-container">
              <canvas id="myChart2"></canvas>
            </div>
          </div>
        </div>
        <h2>Inversión</h2>
        <div class="valores_inversion">
          <div class="left">
            <h3>Valor total del proyecto</h3>
            {{content.field_valor_ejecutado_del_proyec}}
          </div>
          <div class="right">
            <h3>Valor ejecutado del proyecto</h3>
            {{content.field_valor_total_del_proyecto}}
          </div>
        </div>
      </div>
      <div aria-labelledby="multimedia-tab" class="tab-pane fade row project-content" id="multimedia" role="tabpanel">
        {{content.field_gallery}}
      </div>
    </div>
  </div>
  {% endblock %}
</article>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  const ctx2 = document.getElementById('myChart2');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Programado', 'Ejecutado'],
      datasets: [{
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1,
        backgroundColor: ['#673AFB', '#FF9500'],
        borderRadius: 50
      }]
    },
    options: {
      plugins: {
        legend: {
          display: false,
          position: 'bottom',
        },
      },
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const DATA_COUNT = 12;
  const NUMBER_CFG = { count: DATA_COUNT, min: 0, max: 100 };
  const data = {
    labels: ["03/2023",
      "02/2023",
      "01/2023",
      "12/2022",
      "11/2022",
      "10/2022",
      "09/2022",
      "08/2022",
      "07/2022",
      "06/2022",
      "05/2022",
      "04/2022"],
    datasets: [
      {
        label: 'Programado',
        data: [10, 20, 50, 80, 20, 30, 12, 15],
        borderColor: "#673AFB",
      },
      {
        label: 'Ejecutado',
        data: [2, 5, 6, 12, 54, 78, 24, 42, 13],
        borderColor: "#FF9500"
      }
    ]
  };
  const config = {
    type: 'line',
    data: data,
    options: {
      scales: {
        xAxes: [{
          gridLines: {
            color: "rgba(0, 0, 0, 0)",
          }
        }],
        yAxes: [{
          gridLines: {
            color: "rgba(0, 0, 0, 0)",
          }
        }]
      },
      maintainAspectRatio: false,
      plugins: {
        legend: {
          position: 'bottom',
        },
      },
    },
  };
  new Chart(ctx2, config);
</script>