{# /** * @file * Template for a Node. */ #}
{% set classes = [ 'node',
node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not
node.isPublished() ? 'node--unpublished', node.bundle|clean_class,
node.bundle|clean_class ~ '--' ~ view_mode|clean_class, 'project' ] %}
{#
{{ kint(content | keys) }} #}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<style>
    .col-12 {
        padding: 0;
    }

    .btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .btns a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: #003937;
        position: relative;
        font-size: 18px;
        font-weight: bold;
        line-height: 19px;
        background: #a5e55d;
        text-transform: none !important;
        border-radius: 8px;
        font-family: "value serif pro";
        text-align: center;

    }

    .quees {
        background-color: #003937;
        color: #fdfdef;
        display: flex;
        justify-content: space-between;

    }

    .landings-especiales__field-que-es-reuso {
        padding: 30px;
    }

    .quees ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        max-width: 760px;
        margin: 0 auto;
    }

    .quees ul li {
        color: #fdfdef;
        font-size: 13px;
        border-bottom: 2px dashed #afe951;
        padding: 10px;
    }

    .quees h1 {
        color: #afe951;
        font-weight: bold;
        font-size: 36px;
        font-family: "value serif pro";
    }

    .noticias .block--views-block--all-the-news-block-3 {
        display: none;
    }


    .page__header.mb-3 {
        display: none;
    }

    @media screen and (max-width: 768px) {

        .quees {
            flex-direction: column;

        }


        .quees ul {

            grid-template-columns: 1fr;

        }
    }
</style>
<section id="special-landings">
    {% block content %}
    <div class="banner">
        {{file_url(node.field_banner_principal.entity.uri.value)}}
    </div>
    <div class="video-container">
        <div class="txt">
            <h2>¿Tienes un inmueble en desuso?</h2>
            <p>¡Lo estamos buscando para revitalizar el centro de Bogotá!</p>
            <a href="">Inscríbete aquí como propietario</a>
        </div>
        <div class="video">

        </div>
    </div>
    <div class="texts">
        <div class="left">
            <h2>¿Qué es el Reuso?</h2>
            <p>Esta iniciativa liderada por RenoBo, la Secretaría del Hábitat y el Instituto Distrital de Patrimonio
                Cultural (IDPC) es una apuesta por el reuso de espacios y edificaciones ya existentes como una opción
                innovadora para revitalizar la ciudad mediante proyectos integrales de uso mixto, aumentar la oferta de
                vivienda en ubicaciones estratégicas y aportar a la mitigación del cambio climático.</p>
        </div>
        <div class="right">
            <h2>¿Quiénes pueden participar?</h2>
            <p>Si eres propietario de un inmueble en el centro ampliado de Bogotá o eres un desarrollador o constructor
                interesado en este tipo de proyectos no dudes en hacer parte.</p>
            <div class="btns">
                <a href="/es/form/reusa-tu-inmueble-revitaliza-bog">Formulario propietarios</a>
                <a href="/es/form/formulario-desarrolladores">Formulario desarrolladores</a>
            </div>
        </div>
    </div>
    <div class="news-container">
        <div class="gallery">
            <section class="splide newsgallery" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">{{content.field_imagen_banner.0}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.1}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.2}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.3}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.4}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.5}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.6}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.7}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.8}}</li>
                        <li class="splide__slide">{{content.field_imagen_banner.9}}</li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="news">
            <h2>Noticias</h2>
            {{ drupal_view('contenido_destacado_home_v2', 'block_1') }}
        </div>
    </div>
    <div class="quees">
        <img alt="quees" src="/sites/default/files/inline-images/quees.png">
        {{ content.field_que_es_reuso }}
    </div>
</section>
{% endblock %}

<script>
    // 0|Antonio Nariño
    // 1|Barrios Unidos
    // 2|Chapinero
    // 3|Ciudad Bolívar
    // 4|Engativá
    // 5|Fontibón
    // 6|Kennedy
    // 7|Los Mártires
    // 8|Puente Aranda
    // 9|Rafael Uribe
    // 10|San Cristóbal
    // 11|Santa Fé
    // 12|Suba
    // 13|Teusaquillo
    // 14|Tunjuelito
    // 15|Usaquén
    // 16|Usme

    document.addEventListener("DOMContentLoaded", function () {
        var splide = new Splide(".newsgallery", {
            type: "fade",
            pagination: false,
            arrows: false,
            autoplay: true,
            interval: 4000,
            speed: 800,
        });
        splide.mount();
        // Add smooth scrolling to all links
        var links = document.querySelectorAll("a");

        links.forEach(function (link) {
            link.addEventListener("click", function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using JavaScript's scrollTo() method to add smooth page scroll
                    var target = document.querySelector(hash);
                    var targetOffset = target.offsetTop;
                    var scrollOptions = {
                        top: targetOffset,
                        behavior: "smooth",
                    };

                    window.scrollTo(scrollOptions);

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    history.pushState(null, null, hash);
                }
            });
        });
    });
</script>