{# /** * @file * Template for a Node. */ #} {% set classes = [ 'node',
node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not
node.isPublished() ? 'node--unpublished', node.bundle|clean_class,
node.bundle|clean_class ~ '--' ~ view_mode|clean_class, 'project' ] %} {#
{{ kint(content | keys) }} #}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

<section id="landings-events">
    {% block content %}
    <div class="banner">
        {{ content.field_cover_img }}
    </div>
    <div class="date-count">
        <div class="container">
            <div class="left">
                {{ content.body }}
            </div>
            <div class="right">
                <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_28_2)">
                        <path
                            d="M66.77 60.75L51.3 49.15V25.79C51.3 24.88 50.56 24.14 49.65 24.14C48.74 24.14 48 24.88 48 25.79V49.98C48 50.5 48.25 50.99 48.66 51.3L64.78 63.39C65.15 63.66 65.52 63.72 65.77 63.72C66.3 63.72 66.78 63.48 67.1 63.05C67.36 62.7 67.48 62.27 67.41 61.84C67.35 61.4 67.12 61.02 66.77 60.75Z"
                            fill="#FFFDEF" />
                        <path
                            d="M49.66 0C22.28 0 0 22.28 0 49.66C0 77.04 22.28 99.32 49.66 99.32C77.04 99.32 99.32 77.04 99.32 49.66C99.32 22.28 77.04 0 49.66 0ZM49.66 96.02C24.1 96.02 3.3 75.22 3.3 49.66C3.3 24.1 24.09 3.3 49.66 3.3C75.23 3.3 96.02 24.1 96.02 49.66C96.02 75.22 75.22 96.02 49.66 96.02Z"
                            fill="#FFFDEF" />
                    </g>
                    <defs>
                        <clipPath id="clip0_28_2">
                            <rect width="99.32" height="99.31" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                <p id="tiempo">00:00:00</p>
            </div>
        </div>
    </div>
    <div class="container">

        <h2><svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_28_5)">
                    <path
                        d="M10.81 4.57L76.26 29.67C77.55 30.17 78.37 31.46 78.26 32.84L76.52 55.06C76.44 56.11 75.84 57.04 74.92 57.55L39.93 77C38.67 77.7 37.09 77.45 36.11 76.39L14.2 52.69C13.96 52.43 13.67 52.21 13.36 52.04L5.17001 47.73C4.06001 47.15 3.40001 45.95 3.51001 44.7L6.57001 7.24C6.74001 5.16 8.86001 3.83 10.81 4.57Z"
                        fill="#AFCD50" />
                    <path
                        d="M64.8 81.75C58.32 81.75 52.32 77.95 49.52 72.06L49.07 71.11H4.99C2.24 71.11 0 68.87 0 66.12V10.31C0 7.56 2.24 5.32 4.99 5.32H13.29V0.99C13.29 0.44 13.73 0 14.28 0C14.83 0 15.27 0.44 15.27 0.99V5.32H34.56V0.99C34.56 0.44 35.01 0 35.55 0C36.09 0 36.54 0.44 36.54 0.99V5.32H55.83V0.99C55.83 0.44 56.27 0 56.82 0C57.37 0 57.81 0.44 57.81 0.99V5.32H66.11C68.86 5.32 71.1 7.56 71.1 10.31V49.07L72.05 49.52C77.93 52.33 81.74 58.33 81.74 64.8C81.74 74.14 74.14 81.74 64.8 81.74M64.8 49.84C56.55 49.84 49.84 56.55 49.84 64.8C49.84 73.05 56.55 79.76 64.8 79.76C73.05 79.76 79.76 73.05 79.76 64.8C79.76 56.55 73.05 49.84 64.8 49.84ZM1.98 66.12C1.98 67.78 3.33 69.13 4.99 69.13H48.33L48.05 67.22C47.92 66.29 47.85 65.53 47.85 64.8C47.85 63.1 48.1 61.43 48.6 59.81L49.13 58.09L50.02 56.52C51.55 53.8 53.8 51.56 56.51 50.03L58.14 49.11L59.8 48.6C61.41 48.1 63.09 47.85 64.79 47.85C65.53 47.85 66.32 47.91 67.21 48.05L69.12 48.33V23.25H1.98V66.12ZM4.99 7.3C3.33 7.3 1.98 8.65 1.98 10.31V21.27H69.13V10.31C69.13 8.65 67.78 7.3 66.12 7.3H57.82V11.63C57.82 12.18 57.37 12.62 56.83 12.62C56.29 12.62 55.84 12.18 55.84 11.63V7.3H36.55V11.63C36.55 12.18 36.1 12.62 35.56 12.62C35.02 12.62 34.57 12.18 34.57 11.63V7.3H15.27V11.63C15.27 12.18 14.83 12.62 14.28 12.62C13.73 12.62 13.29 12.18 13.29 11.63V7.3H4.99Z"
                        fill="#163839" />
                    <path
                        d="M64.27 70.53C64.04 70.53 63.81 70.43 63.64 70.28L58.82 65.96C58.41 65.6 58.38 64.97 58.75 64.56C58.94 64.35 59.2 64.23 59.49 64.23C59.73 64.23 59.97 64.32 60.15 64.48L64.15 68.07L69.32 60.99C69.51 60.73 69.8 60.58 70.12 60.58C70.33 60.58 70.53 60.64 70.7 60.77C70.91 60.93 71.06 61.16 71.1 61.42C71.14 61.68 71.08 61.94 70.92 62.15L65.1 70.13C64.93 70.36 64.68 70.5 64.41 70.53H64.28H64.27Z"
                        fill="#163839" />
                    <path
                        d="M23.89 38.59C22.87 38.59 22.04 37.76 22.04 36.74V31.71C22.04 30.69 22.87 29.86 23.89 29.86H28.92C29.94 29.86 30.77 30.69 30.77 31.71V36.74C30.77 37.76 29.94 38.59 28.92 38.59H23.89ZM23.89 31.4C23.72 31.4 23.58 31.54 23.58 31.71V36.74C23.58 36.91 23.72 37.05 23.89 37.05H28.92C29.09 37.05 29.23 36.91 29.23 36.74V31.71C29.23 31.54 29.09 31.4 28.92 31.4H23.89Z"
                        fill="#163839" />
                    <path
                        d="M12.38 38.59C11.36 38.59 10.53 37.76 10.53 36.74V31.71C10.53 30.69 11.36 29.86 12.38 29.86H17.41C18.43 29.86 19.26 30.69 19.26 31.71V36.74C19.26 37.76 18.43 38.59 17.41 38.59H12.38ZM12.38 31.4C12.21 31.4 12.07 31.54 12.07 31.71V36.74C12.07 36.91 12.21 37.05 12.38 37.05H17.41C17.58 37.05 17.72 36.91 17.72 36.74V31.71C17.72 31.54 17.58 31.4 17.41 31.4H12.38Z"
                        fill="#163839" />
                    <path
                        d="M35.39 38.6C34.37 38.6 33.54 37.77 33.54 36.75V31.72C33.54 30.7 34.37 29.87 35.39 29.87H40.42C41.44 29.87 42.27 30.7 42.27 31.72V36.75C42.27 37.77 41.44 38.6 40.42 38.6H35.39ZM35.39 31.4C35.22 31.4 35.08 31.54 35.08 31.71V36.74C35.08 36.91 35.22 37.05 35.39 37.05H40.42C40.59 37.05 40.73 36.91 40.73 36.74V31.71C40.73 31.54 40.59 31.4 40.42 31.4H35.39Z"
                        fill="#163839" />
                    <path
                        d="M23.89 49.93C22.87 49.93 22.04 49.1 22.04 48.08V43.05C22.04 42.03 22.87 41.2 23.89 41.2H28.92C29.94 41.2 30.77 42.03 30.77 43.05V48.08C30.77 49.1 29.94 49.93 28.92 49.93H23.89ZM23.89 42.75C23.72 42.75 23.58 42.89 23.58 43.06V48.09C23.58 48.26 23.72 48.4 23.89 48.4H28.92C29.09 48.4 29.23 48.26 29.23 48.09V43.06C29.23 42.89 29.09 42.75 28.92 42.75H23.89Z"
                        fill="#163839" />
                    <path
                        d="M12.38 49.93C11.36 49.93 10.53 49.1 10.53 48.08V43.05C10.53 42.03 11.36 41.2 12.38 41.2H17.41C18.43 41.2 19.26 42.03 19.26 43.05V48.08C19.26 49.1 18.43 49.93 17.41 49.93H12.38ZM12.38 42.75C12.21 42.75 12.07 42.89 12.07 43.06V48.09C12.07 48.26 12.21 48.4 12.38 48.4H17.41C17.58 48.4 17.72 48.26 17.72 48.09V43.06C17.72 42.89 17.58 42.75 17.41 42.75H12.38Z"
                        fill="#163839" />
                    <path
                        d="M35.39 49.94C34.37 49.94 33.54 49.11 33.54 48.09V43.06C33.54 42.04 34.37 41.21 35.39 41.21H40.42C41.44 41.21 42.27 42.04 42.27 43.06V48.09C42.27 49.11 41.44 49.94 40.42 49.94H35.39ZM35.39 42.74C35.22 42.74 35.08 42.88 35.08 43.05V48.08C35.08 48.25 35.22 48.39 35.39 48.39H40.42C40.59 48.39 40.73 48.25 40.73 48.08V43.05C40.73 42.88 40.59 42.74 40.42 42.74H35.39Z"
                        fill="#163839" />
                    <path
                        d="M23.89 61.27C22.87 61.27 22.04 60.44 22.04 59.42V54.39C22.04 53.37 22.87 52.54 23.89 52.54H28.92C29.94 52.54 30.77 53.37 30.77 54.39V59.42C30.77 60.44 29.94 61.27 28.92 61.27H23.89ZM23.89 54.09C23.72 54.09 23.58 54.23 23.58 54.4V59.43C23.58 59.6 23.72 59.74 23.89 59.74H28.92C29.09 59.74 29.23 59.6 29.23 59.43V54.4C29.23 54.23 29.09 54.09 28.92 54.09H23.89Z"
                        fill="#163839" />
                    <path
                        d="M12.38 61.27C11.36 61.27 10.53 60.44 10.53 59.42V54.39C10.53 53.37 11.36 52.54 12.38 52.54H17.41C18.43 52.54 19.26 53.37 19.26 54.39V59.42C19.26 60.44 18.43 61.27 17.41 61.27H12.38ZM12.38 54.09C12.21 54.09 12.07 54.23 12.07 54.4V59.43C12.07 59.6 12.21 59.74 12.38 59.74H17.41C17.58 59.74 17.72 59.6 17.72 59.43V54.4C17.72 54.23 17.58 54.09 17.41 54.09H12.38Z"
                        fill="#163839" />
                    <path
                        d="M35.39 61.28C34.37 61.28 33.54 60.45 33.54 59.43V54.4C33.54 53.38 34.37 52.55 35.39 52.55H40.42C41.44 52.55 42.27 53.38 42.27 54.4V59.43C42.27 60.45 41.44 61.28 40.42 61.28H35.39ZM35.39 54.08C35.22 54.08 35.08 54.22 35.08 54.39V59.42C35.08 59.59 35.22 59.73 35.39 59.73H40.42C40.59 59.73 40.73 59.59 40.73 59.42V54.39C40.73 54.22 40.59 54.08 40.42 54.08H35.39Z"
                        fill="#163839" />
                </g>
                <defs>
                    <clipPath id="clip0_28_5">
                        <rect width="81.75" height="81.75" fill="white" />
                    </clipPath>
                </defs>
            </svg>Agenda</h2>
        {{ content.field_agenda }}
        {{ content.field_speakers }}
    </div>
    <div class="container">
        <h2>Sobre nosotros:</h2>
    </div>

    <div class="container">
        {{ content.field_sobre_nosotros }}
    </div>
    <div id="evento" data-fecha="{{ content.field_fecha_del_evento.value }}"></div>
    <div id="evento" data-fecha="{{ node.field_fecha_del_evento.value }}"></div>
    {% endblock %}
</section>
<script>
    // Fecha del evento obtenida de Drupal
    // Obtener la fecha del evento desde el atributo data-fecha
    const fechaEvento = document.getElementById("evento").getAttribute("data-fecha");

    // Convertir la fecha a un formato que JavaScript entienda
    const fechaEventoJS = new Date(fechaEvento).getTime();


    function actualizarContador() {
        const ahora = new Date().getTime();
        const distancia = fechaEventoJS - ahora;

        // Cálculo de días, horas, minutos y segundos
        const horas = Math.floor((distancia % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutos = Math.floor((distancia % (1000 * 60 * 60)) / (1000 * 60));
        const segundos = Math.floor((distancia % (1000 * 60)) / 1000);

        // Formatear el tiempo en HH:MM:SS
        const formatoHoras = horas < 10 ? '0' + horas : horas;
        const formatoMinutos = minutos < 10 ? '0' + minutos : minutos;
        const formatoSegundos = segundos < 10 ? '0' + segundos : segundos;

        // Mostrar el resultado en el elemento con id "tiempo"
        document.getElementById("tiempo").innerHTML = `${formatoHoras}:${formatoMinutos}:${formatoSegundos}`;

        // Si el conteo regresivo ha terminado, mostrar un mensaje
        if (distancia < 0) {
            clearInterval(intervalo);
            document.getElementById("tiempo").innerHTML = "EVENTO INICIADO";
        }
    }

    // Actualizar el contador cada segundo
    const intervalo = setInterval(actualizarContador, 1000);
</script>