{# /** * @file * Template for a Node. */ #} {% set classes = [ 'node',
node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not
node.isPublished() ? 'node--unpublished', node.bundle|clean_class,
node.bundle|clean_class ~ '--' ~ view_mode|clean_class, 'project' ] %} {#
{{ kint(content | keys) }} #}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>
<section id="special-landings">
  {% block content %}
  <div class="banner">
    <div class="text">
      {{ content.field_logo }}
    </div>
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">{{content.field_imagen_banner.0}}</li>
        </ul>
      </div>
    </section>
  </div>
  <a href="#description" id="down"
    ><img src="/sites/default/files/2024-04/arrowDown.png"
  /></a>
  <div class="description" id="description">
    <h2>Descripción</h2>
    <div class="desc-p">
      {{ content.body }}
    </div>
    <div class="btns">
      <a href="">Formulario propietarios</a>
      <a href="">Formulario desarrolladores</a>
    </div>
  </div>
  <div class="quees">
    {{ content.field_que_es_reuso }}
  </div>
</section>

<script>
  // 0|Antonio Nariño
  // 1|Barrios Unidos
  // 2|Chapinero
  // 3|Ciudad Bolívar
  // 4|Engativá
  // 5|Fontibón
  // 6|Kennedy
  // 7|Los Mártires
  // 8|Puente Aranda
  // 9|Rafael Uribe
  // 10|San Cristóbal
  // 11|Santa Fé
  // 12|Suba
  // 13|Teusaquillo
  // 14|Tunjuelito
  // 15|Usaquén
  // 16|Usme

  document.addEventListener("DOMContentLoaded", function () {
    var splide = new Splide(".splide", {
      type: "fade",
      pagination: false,
      arrows: false,
      autoplay: true,
      interval: 4000,
      speed: 800,
    });
    splide.mount();
    // Add smooth scrolling to all links
    var links = document.querySelectorAll("a");

    links.forEach(function (link) {
      link.addEventListener("click", function (event) {
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using JavaScript's scrollTo() method to add smooth page scroll
          var target = document.querySelector(hash);
          var targetOffset = target.offsetTop;
          var scrollOptions = {
            top: targetOffset,
            behavior: "smooth",
          };

          window.scrollTo(scrollOptions);

          // Add hash (#) to URL when done scrolling (default click behavior)
          history.pushState(null, null, hash);
        }
      });
    });
  });
</script>
