{#
/**
* @file
* Template for a Node.
*/
#}
{%
set classes = [
'node',
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
node.bundle|clean_class,
node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
'predio-content'
]
%}
{% set createdDate = node.getCreatedTime|date('j/m/Y - H:i') %}
{# {{ kint(content|keys)}} #}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
<article{{attributes.addClass(classes)}}>
    {% block content %}
    <div class="container">
        <div class="image">
            <a href="/es/marketplace-reuso" class="back">Volver al listado de edificios</a>
            {{content.field_image_main}}
        </div>
        <div class="txt">
            <div class="title">
                <h2>{{ node.label }}</h2>
                {{content.field_id_del_predio}}
            </div>
            {{content.field_barrio_catastral}}
            {{content.field_ano_de_construccion}}
            {{content.field_upl}}
            {{content.field_bic}}
            {{content.field_no_de_unidades_estimadas}}
            <div class="ventas">
                {{content.field_ventas_estimadas}}
            </div>
            <div class="horizontal">
                {{content.field_a}}
                {{content.field_area_suelo}}
                {{content.field_no_de_pisos}}
            </div>
            <a href="" class="btn-interes">Manifestar interés por este edificio</a>
        </div>
    </div>
    {% endblock %}
    </article>