{#
    /**
     * @file
     * Template for a field.
     */
    #} 
   
      {% if multiple %}
        <div{{ attributes }}>
          {% for item in items %}
          {{ item.content.field_foto }}
          {{ item.content.field_nombre }}
          {{ item.content.field_descrip }}
            {{ item.content }}
          {% endfor %}
        </div>
      {% else %}
        {% for item in items %}
          {{ item.content }}
        {% endfor %}
      {% endif %}
